---
// Astro Imports
import { Image } from "astro:assets";

// Layout Import
import Default from "../layouts/Default.astro";

// Module Imports
import CopyHighlight from "../modules/CopyHighlight/CopyHighlight.astro";
import Footer from "../modules/Footer/Footer.astro";
import HeadlineHighlight from "../modules/HeadlineHighlight.astro";
import InlineDecoration from "../modules/InlineDecoration.astro";
import Navigation from "../modules/Navigation/Navigation.astro";
import Stage from "../modules/Stage.astro";
import TextGrid from "../modules/TextGrid/TextGrid.astro";
import NavigationItemWrapper from "../modules/Navigation/NavigationItemWrapper.astro";
import CopyHighlightItemWrapper from "../modules/CopyHighlight/CopyHighlightItemWrapper.astro";
import TextGridItem from "../modules/TextGrid/TextGridItem.astro";
import FooterFundingContainer from "../modules/Footer/FooterFundingContainer.astro";
import FooterFundingLogoContainer from "../modules/Footer/FooterFundingLogoContainer.astro";
import FooterNavigationRow from "../modules/Footer/FooterNavigationRow.astro";
import FooterLink from "../modules/Footer/FooterLink.astro";

// Component Imports
import NavItem from "../components/NavItem.astro";
import Button from "../components/Button.astro";
import TextBadge from "../components/TextBadge.astro";

// Image/Media Imports
import cImage from "../assets/c-image.png";
import innovativeHochschule from "../assets/logo-innovative-hochschule-Initiative-BMBF-GWK-innowest.svg";
import fhp from "../assets/logo-fhpotsdam-innowest-c-fhpostdam-2016-11-16.svg";
import thb from "../assets/logo-thbrandenburg-innowest-c-thb-2015-10-05.svg";
import hnee from "../assets/logo-hne-eberswalde-innowest-c-hne-eberswalde.svg";
---

<Default title="MOSIDI" description="Landing Page">
	<Navigation colour="black">
		<NavigationItemWrapper colour="black" slot="navigationItemWrapper">
			<NavItem href="#" colour="white">Welcome</NavItem>
		</NavigationItemWrapper>
		<Button
			variant="filled"
			size={800}
			colour="white"
			href="https://tv4-geo.innowest-brandenburg.de/app/"
			slot="navigationCTA">Prototypen testen</Button
		>
	</Navigation>
	<Stage colour="black">
		<!-- Fragments are "empty" tags in Astro.
		 This way, only the content is put
		 in the <h3> of the header, without
		 additional DOM Elements  -->
		<Fragment slot="header">Setze alles auf eine Karte.</Fragment>
		<Fragment slot="copy"
			>Mit MOSIDI einfach Daten von verschiedenen Portalen zusammenführen, mit eigenen Daten verschneiden, auswerten, visualisieren und bereitstellen. Die modulare Open Source-Lösung für eine nachhaltige datenbasierte Kommunalentwicklung.</Fragment
		>
		<Image src={cImage} alt="Template Image" slot="media" class="w-full" />
	</Stage>
	<HeadlineHighlight colour="coloured" orientation="textLeft">
		<Fragment slot="headline">
			Open Source. Modular. Gemacht für Kommunen.
		</Fragment>
	</HeadlineHighlight>
	<TextGrid colour="coloured">
		<TextGridItem>
			<Image src={cImage} alt="Template Image" slot="media" />
			<Fragment slot="headline">1. Headline</Fragment>
			<Fragment slot="copy">
				MOSIDI aims to make data of Brandenburg visible to experts as
				well as its own population – in an easy, efficient way. MOSIDI
				aims to make data of Brandenburg visible to experts.
			</Fragment>
		</TextGridItem>
		<TextGridItem>
			<Image src={cImage} alt="Template Image" slot="media" />
			<Fragment slot="headline">2. Headline</Fragment>
			<Fragment slot="copy">
				MOSIDI aims to make data of Brandenburg visible to experts as
				well as its own population – in an easy, efficient way. MOSIDI
				aims to make data of Brandenburg visible to experts.
			</Fragment>
		</TextGridItem>
		<TextGridItem>
			<Image src={cImage} alt="Template Image" slot="media" />
			<Fragment slot="headline">3. Headline</Fragment>
			<Fragment slot="copy">
				MOSIDI aims to make data of Brandenburg visible to experts as
				well as its own population – in an easy, efficient way. MOSIDI
				aims to make data of Brandenburg visible to experts.
			</Fragment>
		</TextGridItem>
		<TextGridItem>
			<Image src={cImage} alt="Template Image" slot="media" />
			<Fragment slot="headline">4. Headline</Fragment>
			<Fragment slot="copy">
				MOSIDI aims to make data of Brandenburg visible to experts as
				well as its own population – in an easy, efficient way. MOSIDI
				aims to make data of Brandenburg visible to experts.
			</Fragment>
		</TextGridItem>
	</TextGrid>
	<CopyHighlight>
		<Fragment slot="copy">
			MOSIDI wird vom Verbundvorhaben InNoWest mit Brandenburger Kommunen entwickelt. Interesse dabei zu sein? Kontaktieren Sie uns!
		</Fragment>
		<CopyHighlightItemWrapper slot="itemWrapper">
			<TextBadge form="badge"><a href="https://www.innowest-brandenburg.de">Mehr zum Verbundvorhaben erfahren &raquo;</a></TextBadge>
			<TextBadge form="badge"><a href="mailto:">Jetzt Kontakt aufnehmen &raquo;</a></TextBadge>
		</CopyHighlightItemWrapper>
	</CopyHighlight>
	<InlineDecoration colour="coloured" />
	<Footer>
		<FooterFundingContainer slot="funding">
			<FooterFundingLogoContainer slot="fundingLogos">
				<Image src={innovativeHochschule} alt="Innovative Hochschule" />
				<Image
					src={fhp}
					alt="Fachhochschule Potsdam"
				/>
				<Image
					src={thb}
					alt="Technische Hochschule Brandenburg"
					height="39"
				/>
				<Image
					src={hnee}
					alt="Hochschule für nachhaltige Entwicklung Eberswalde"
					height="39"
				/>
			</FooterFundingLogoContainer>
		</FooterFundingContainer>
		<FooterNavigationRow slot="navigationRow">
			<!-- <FooterLink href="#">Nav Item 1</FooterLink>
			<FooterLink href="#">Nav Item 2</FooterLink>
			<FooterLink href="#">Nav Item 3</FooterLink> -->
		</FooterNavigationRow>
	</Footer>
</Default>
